<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/signup.css">
    </a>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/solid.css">
</head>
<body>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						
						<h4 class="mb-0 pb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
						<div class="card-3d-wrap mx-auto">
							<!-- <div class="card-3d-wrapper"> -->
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
				
											<h4 class="mb-4 pb-3">Verify Password</h4>
											<form action="/changepassnext" method="POST">
											<!-- <div class="form-group"> -->
												<input type="email" name="mail1" class="form-style" value="{{info.cmail}}" id="logemail" autocomplete="off" hidden='true'>
												<!-- <i class="input-icon uil uil-at"><span class="iconify" data-icon="ic:baseline-alternate-email" style="color: #ffeba7;"></span></i> -->
											<!-- </div> -->
											<div class="form-group mt-2">
												<input type="password" name="password1" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off" required>
												<i class="input-icon uil uil-lock-alt"><span class="iconify" data-icon="dashicons:lock-duplicate" style="color: #ffeba7;"></span></i>
											</div>
                                            {%if cmsg%}
                                            <p style="color: red;">{{cmsg}}</p>
                                            {%endif%}
											<button href="" class="btn mt-4">Verify</button>
											<h4 class="mb-0 pb-3"><a href="/forgorpassword">Forgot your password?</a></h4>
				      					</div>
			      					</div>
			      				</div>
							</form>


</body>
</html>
