<link rel="stylesheet" href="../static/givereview.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="cont">
<div class="title">
  <h1><span>ChowDown</span></h1>
</div>
<div class="cont">
<div class="stars">

<form action="/givereviewnext" method="POST">
  <input class="star star-5" id="star-5-2" type="radio" name="rating" value="5"/>
  <label class="star star-5" for="star-5-2"></label>
  <input class="star star-4" id="star-4-2" type="radio" name="rating" value="4"/>
  <label class="star star-4" for="star-4-2"></label>
  <input class="star star-3" id="star-3-2" type="radio" name="rating" value="3"/>
  <label class="star star-3" for="star-3-2"></label>
  <input class="star star-2" id="star-2-2" type="radio" name="rating" value="2"/>
  <label class="star star-2" for="star-2-2"></label>
  <input class="star star-1" id="star-1-2" type="radio" name="rating" value="1"/>
  <label class="star star-1" for="star-1-2"></label>
  <div class="rev-box">
    <textarea class="review" col="500" name="review"></textarea>
    <label class="review" for="review">Brief Review</label>
    <div>
      <p>Leave a comment here!</p>
  </div>
  <input type="text" hidden="true" value='{{cid}}'  name="cid1">
    <input type="text" hidden="true" value="{{rid}}" name="restid">
            <h3>You are currently leaving a review on <b> {{rname}} </b></h3>
  <div class="post-button"> <button type="submit">SUBMIT REVIEW</button> </div>
</form>
</div>