<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Restaurant Menu</title>
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet" type="text/css"  href="../static/style1.css">
<link rel="stylesheet" type="text/css" href="../static/default1.css">
<link rel="stylesheet" type="text/css" href="../static/nivo-lightbox1.css">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">Digin</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/index" class="page-scroll">Home</a></li>
        <li><a href="/register" class="page-scroll">User Register</a></li>
        <li><a href="/login" class="page-scroll">User Login</a></li>
        <li><a href="/restlogin" class="page-scroll">Restaurant Login</a></li>
        <li><a href="/adminlogin" class="page-scroll">Admin Login</a></li>
        <li><a href="/about" class="page-scroll">About us</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->

</header>


<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="section-title text-center center">
    <div class="overlay">
      <br><br><br>
      <h2>Welcome to Restuarant-{{restad.rname}}</h2>
      <p>Choose from our best dishes</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">


     <form action="/restMenu">      

        <div class="menu-section">
          <h2 class="menu-section-title">MENU 
             <button type="submit" class="btn btn-primary" value=”submit” >CLick here to Order</button>   
        </h2>
          
      </form>


          


            <hr>


         
            <div class="menu-item">
            
                <table style=" text-align: center; ">
                   <col width="150">
                   <col width="150">
                   <col width="150">
                   <col width="150">
                  
                   <tr>
                    <td> <b> RestID </b>  </td>
                    <td>  <b>ItemID </b> </td>
                    <td> <b> Name  </b>  </td>
                    <td> <b> Price </b>  </td>
                   </td>
                  {% for i in restadmin %}
                   <tr>
                      <td>{{ i.rid }}</td>
                      <td>{{ i.iid }}</td>
                      <td>{{ i.iname }}</td>
                      <td>{{ i.iprice }}</td>

                   </tr>




                  {% endfor %}

                </table>
            <h3> 
             
           </h3>
         
          </div>

    </form>  

        

        </div>
      </div>
     
        </div>
      </div>
    </div>
  </div>
</div>