<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/argon1.css">
    <title>Document</title>
</head>
<body>

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a><button onclick="window.location.href='/resthome1'">Go back</button></a></li>
                </ol>
              </nav>
            </div>
           
          </div>
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total revenue</h5>
                      <span class="h2 font-weight-bold mb-0">{{tprice}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">For the month of </span>
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{monthly2}}</span>
          
                    <input type="text" value="{{jan}}" hidden="true" id="jan">
                    <input type="text" value="{{feb}}" hidden="true" id="feb">
                    <input type="text" value="{{mar}}" hidden="true" id="mar">
                    <input type="text" value="{{apr}}" hidden="true" id="apr">
                    <input type="text" value="{{may}}" hidden="true" id="may">
                    <input type="text" value="{{jun}}" hidden="true" id="jun">
                    <input type="text" value="{{jul}}" hidden="true" id="jul">
                    <input type="text" value="{{aug}}" hidden="true" id="aug">
                    <input type="text" value="{{sep}}" hidden="true" id="sep">
                    <input type="text" value="{{oct}}" hidden="true" id="oct">
                    <input type="text" value="{{nov}}" hidden="true" id="nov">
                    <input type="text" value="{{dec}}" hidden="true" id="dec">
                    <script>
                     
                      var finalprice = 0
                 
                    </script>
                    
                  
                    
                    
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Revenue for the month</h5>
                      <span class="h2 font-weight-bold mb-0">{{monthly}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    
                    <span class="text-nowrap">For the month of </span>
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{monthly2}}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Top consumer</h5>
                      <span class="h2 font-weight-bold mb-0">Customer ID: {{uuser}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">For the month of </span>
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{monthly2}}</span>
                    
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Best selling product ID</h5>
                      <span class="h2 font-weight-bold mb-0">{{most_frequent}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-nowrap">For the month of </span>
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{monthly2}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                  <h5 class="h3 text-white mb-0">Sales value</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#myChart" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                   
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="myChart" style="width:100%;height:100%;" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h5 class="h3 mb-0">Total orders</h5>
                  <table style=" text-align: left; ">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                   
                    <tr>
                     <td> <b> Customer ID </b>  </td>
                     <td> <b> Product ID </b>  </td>
   
              
                     <td> <b> Total Price </b>  </td>
                     <td> <b> Month </b>  </td>
 
                    </td>
                   {% for i in orders %}
                    <tr>
                       <td>{{ i.cid }}</td>
                       <td>{{ i.items}}</td>
                       <td>{{ i.tprice }}</td>
                       <td>{{ i.month1 }}</td>
             
                      <td> &nbsp;&nbsp;&nbsp;&nbsp; </td>
 
     
                    </tr>
     
                   {% endfor %}
 
                 </table>
                    
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-bars" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
 
    var jan = document.getElementById('jan').value
    var feb = document.getElementById('feb').value
    var mar = document.getElementById('mar').value
    var apr = document.getElementById('apr').value
    var may = document.getElementById('may').value
    var jun = document.getElementById('jun').value
    var jul = document.getElementById('jul').value
    var aug = document.getElementById('aug').value
    var sep = document.getElementById('sep').value
    var oct = document.getElementById('oct').value
    var nov = document.getElementById('nov').value
    var dec = document.getElementById('dec').value
    
    console.log(jan)
    var yValues = [jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec];
    var xValues = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
    console.log(yValues)
    var u = Math.max.apply(Math,yValues)

    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(94,114,228,1.0)",
          borderColor: "rgba(94,114,228,1.0)",
          data: yValues,
          borderWidth: 1
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 0, max: u}}],
        }
      }
    });
    </script>
  

{% endblock javascripts %}

</body>
</html>