<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/signup.css">
    </a>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/solid.css">
	<script>
		function signupAlert(){
			alert("Account created succesfully. Please log in now!")
		}
	</script>
</head>
<body>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						
						<h4 class="mb-0 pb-3"><a href="/login">Log In</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/sign-in">Sign Up</a></h4>

						<div class="card-3d-wrap mx-auto">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
				
											<h4 class="mb-4 pb-3">Sign Up</h4>
										<form action="/sign-up-successful" method="POST">
											<div class="form-group">

												<input type="email" name="cmail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off" required>
												<i class="input-icon uil uil-at"><span class="iconify" data-icon="ic:baseline-alternate-email" style="color: #ffeba7;"></span></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" id="password" onkeyup="trigger()" name="cpassword" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
												<i class="input-icon uil uil-lock-alt"><span class="iconify" data-icon="dashicons:lock-duplicate" style="color: #ffeba7;"></span></i>
												<meter max="4" id="password-strength-meter"></meter>
												<p id="password-strength-text"></p>
												
											</div>
											<div class="form-group">
												<input type="text" name="cname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off" required>
												<i class="input-icon uil uil-user"><span class="iconify" data-icon="akar-icons:person" style="color: #ffeba7;"></span></i>


											</div>
											<div class="form-group">
												<input type="text" name="cmobile" class="form-style" placeholder="Your Mobile Name" id="cmobile"  autocomplete="off" required>
												<i class="input-icon uil uil-user"><span class="iconify" data-icon="akar-icons:person" style="color: #ffeba7;"></span></i>

											</div>
											<div class="form-group">
												<input type="text" name="caddress" class="form-style" placeholder="Your Addresse" id="caddress" autocomplete="off" required>
												<i class="input-icon uil uil-user"><span class="iconify" data-icon="akar-icons:person" style="color: #ffeba7;"></span></i>

											</div>
											<div class="form-group">
												{{ form.recaptcha }}
											</div>
											<button href="" class="btn mt-4" >submit</button>
				      					</div>
			      					</div>
									  </div>
									  <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>

									 <script>
										var strength = {
														0: "Worst",
														1: "Bad",
														2: "Weak",
														3: "Good",
														4: "Strong"
														}
														var password = document.getElementById('password');
															var meter = document.getElementById('password-strength-meter');
															var text = document.getElementById('password-strength-text');

															password.addEventListener('input', function() {
															var val = password.value;
															var result = zxcvbn(val);

															// Update the password strength meter
															meter.value = result.score;

															// Update the text indicator
															if (val !== "") {
																text.innerHTML = "Strength: " + strength[result.score]; 
															} else {
																text.innerHTML = "";
															}
															});
									 </script>
								</form>

</body>
</html>
